html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #222;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#sidebar {
  width: 10vw;
  background: #111;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  box-sizing: border-box;
}

.userControls,
.gridControls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.connectedUsers {
  flex: 1;
  overflow-y: auto;
}

#usersList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#usersList li {
  padding: 5px;
  border-bottom: 1px solid #333;
}

#grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  width: 90vmin;
  height: 90vmin;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.cell {
  background: #333;
  transition: background 0.1s ease;
  cursor: pointer;
}

.on {
  background: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: lightgray;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #111;
  width: 80%;
}
form {
  background-color: lightgray;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #111;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#formContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

#formContent label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 3px 5px;
  font-size: 0.9em;
  color: white;
}

#formContent input[type="radio"] {
  margin: 0;
}
